extends layout

block head

  style.
    body {}
  script session=!{JSON.stringify(session)}
  script lang=!{JSON.stringify(lang)}
  script(src='/js/questions.js')
block content
  .centerCol(style="opacity: 1;")
    .headerRow(style="background-image:url('/img/bg.png'); max-width: calc(1100px - 40px);")
      .headerBox
        .header
          .logoBox
            .logo
              img(src=lang.mainLogo)
            .logo
              img(src="/img/logo2.svg")
            .logo
              img(src="/img/logo3.svg")
          h1  !{session.titleen}
          h4 &nbsp;
          h4 Questions for translator
  .qContainer(v-bind:style="{opacity:opacity}")#app
          .sPanelBody#qDiv
            .sQitem(v-for="item in quests" :key="item.id" v-if="item.isDeleted==false" v-bind:class="{isSpk:item.isSpk}")
              .sQitemHead()
                .sQitemTime
                  span {{getQTime(item.date)}}
                  span.sQitemLike(v-bind:class="{myLike:isMyLike(item)}" v-on:click="qLike(item)" style="margin-left:10px") Like {{item.likes}}
                .sQitemTime(style="cursor:pointer; color:green" v-on:click="qToSpk(item)")
              .sQItemText.qQItemText {{item.text}}
              .sQitemHead(v-if="!item.answer")
                .sQitemTime(style="cursor:pointer; color:green" v-on:click="addAnswer(item)") перевод
              .sQItemAnswer(v-else)
                textarea( :id="'qAnsw'+item.id" v-model="item.answer" v-on:change="saveAnswer(item)" placeholder="перевод")
