

@font-face {
  font-family: 'SB Sans Text';
  src: url('/fonts/2ae11e8f361b22696c7ca8846f926b96.eot');
  src: url('/fonts/2ae11e8f361b22696c7ca8846f926b96.eot?#iefix') format('embedded-opentype'),
  url('/fonts/2ae11e8f361b22696c7ca8846f926b96.woff2') format('woff2'),
  url('/fonts/2ae11e8f361b22696c7ca8846f926b96.woff') format('woff'),
  url('/fonts/2ae11e8f361b22696c7ca8846f926b96.ttf') format('truetype'),
  url('/fonts/2ae11e8f361b22696c7ca8846f926b96.svg#') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SB Sans Text';
  src: url('/fonts/b0538cbcdc90ce2147f6b730edb84a6e.eot');
  src: url('/fonts/b0538cbcdc90ce2147f6b730edb84a6e.eot?#iefix') format('embedded-opentype'),
  url('/fonts/b0538cbcdc90ce2147f6b730edb84a6e.woff2') format('woff2'),
  url('/fonts/b0538cbcdc90ce2147f6b730edb84a6e.woff') format('woff'),
  url('/fonts/b0538cbcdc90ce2147f6b730edb84a6e.ttf') format('truetype'),
  url('/fonts/b0538cbcdc90ce2147f6b730edb84a6e.svg#') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SB Sans Text';
  src: url('/fonts/5e8d9c82a5c28e026baf7cb56e00dde5.eot');
  src: url('/fonts/5e8d9c82a5c28e026baf7cb56e00dde5.eot?#iefix') format('embedded-opentype'),
  url('/fonts/5e8d9c82a5c28e026baf7cb56e00dde5.woff2') format('woff2'),
  url('/fonts/5e8d9c82a5c28e026baf7cb56e00dde5.woff') format('woff'),
  url('/fonts/5e8d9c82a5c28e026baf7cb56e00dde5.ttf') format('truetype'),
  url('/fonts/5e8d9c82a5c28e026baf7cb56e00dde5.svg#') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

