

$purpure:#8A0250;

.sContainer{
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  opacity: 0;
  transition: opacity 1s ease;
}
.sContainer h1{
  color: black;
  padding: 0 40px;
}
.sTitle{

}
.sBox{
  display: flex;
}
.sL{
  //width: calc(75%);
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
}
.sL h4{
  padding: 0 20px ;
}
.sR{
  width: 25%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  display: none;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,.3);
}
.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
  width: 100%;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.sRpanel{
  width: 100%;
  height: 100%;
  position: relative;
}
.sPanelHead{
  padding: 10px 20px;
  box-sizing: border-box;
  width: 100%;
  height: 45px;
}
.sPanelFooter{
  position: absolute;
  bottom: 0;
  padding: 10px 20px;
  box-sizing: border-box;
  width: 100%;
  height: 45px;
}
.sQInputWr{
  display: flex;
}
.sQInput{
  box-sizing: border-box;
  width: calc(100% - 30px);
  margin-right: 5px;
  border: 1px solid $purpure;
  border-radius: 4px;
  padding: 4px 4px;

}
.sPanelItemTitle{
  color: $purpure;
}
.sQSend #Icon-Shape{
  fill:$purpure;
}
input:focus{
  outline: none!important;
}
.sQSend{
  cursor: pointer;
}
.sPanelBody{
  height: calc(100% - 100px);
  padding: 0px 20px;
  overflow-y: auto;
  box-sizing: border-box;
}
.sQitem{
  margin-bottom: 20px;
  margin-bottom: 20px;
  padding: 10px;
  background: rgba(0,0,0 ,.1);
}
.sQitem.isSpk{
  background: rgba(0,255,0 ,.2);
}
.sQItemAnswer textarea {
  margin-top: 10px;
  width: calc(100% - 20px);
  padding: 4px;
  resize: none;
  height: 6em;
}
.sQitemHead{
  display: flex;
  justify-content: space-between;
  font-size: 10px;
}
.sQItemText{
  font-size: 12px;
  line-height: 18px;
}
.sQItemAnswer{
  font-size: 12px;
  line-height: 18px;
  font-style: italic;
}
.sQitemLike{
  cursor: pointer;
}
.myLike{
  color:$purpure;
  font-weight: bold;
}
.sSpkItem{
  display: flex;
  align-items: center;
  margin-top:20px;
}
.sSpkDescr{
  margin:40px;
}
.sSpkName{

}
.sSpkAvatar{
  width: 60px;
  height: 60px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-right: 10px;
}
.sFooterMenu{
  margin:0 40px;
}
.sFooterMenu .headerMenuItem:hover{
  color:#000000;

}
.sTop{
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  height: 100%;
  box-sizing: border-box;
  padding: 40px;
  color: white;
  border-radius: 8px;
  box-shadow: 0 0px 8px white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sTopHead{
  font-size: 22px;
  line-height: 30px;
}
.sTopMiddle{
  cursor: pointer;
}
.grecaptcha-badge{
  display: none !important;
}
.qContainer{
  max-width: 1100px;
  margin:0 auto;
}
.qQItemText{
  font-size: 16px;
  line-height: 24px;
}
#qDiv{
  margin-top:20px ;
}
